.flow {
  -fx-border-color: red;
  -fx-border-width: 2px;
}

.text {
  -fx-border-color: green;
  -fx-border-width: 2px;
}

.hbox {
  -fx-border-color: blue;
  -fx-border-width: 2px;
}

.vbox {
  -fx-border-color: orange;
  -fx-border-width: 2px;
}