<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <LevelRangeFilter minLevel="INFO" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Console name="ConsoleErr" target="SYSTEM_ERR">
            <LevelRangeFilter minLevel="FATAL" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="LogFile"
                     filename="logs/TradingClient-${date:yyyy-MM-dd}.log"
                     filepattern="logs/TradingClient-%d{yyyy-MM-dd}(%i).log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
            <DefaultRolloverStrategy max="3"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="application" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ConsoleErr"/>
            <AppenderRef ref="LogFile"/>
        </Logger>
        <Logger name="ui" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ConsoleErr"/>
            <AppenderRef ref="LogFile"/>
        </Logger>
        <Logger name="api" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ConsoleErr"/>
            <AppenderRef ref="LogFile"/>
        </Logger>
        <Logger name="FileIO" level="debug" additivity="false">
            <AppenderRef ref="ConsoleErr"/>
            <AppenderRef ref="LogFile"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="ConsoleErr"/>
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>
