name: Test application
on:
  push:
    paths-ignore:
    - 'README.md'

jobs:
  test-build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
        architecture: x64
        cache: maven
    - name: Test application
      run: mvn -B test -f pom.xml
    - name: Provide coverage report to CodeCov
      uses: codecov/codecov-action@v5
      with: 
        token: ${{ secrets.CODECOV_TOKEN }}
