name: Test with Maven after push

on:
  push:
    paths-ignore:
    - 'README.md'

jobs:
  test:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4
    - name: Setup JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
        architecture: x64
        cache: maven
    - name: Test Application
      run: mvn -B test -f pom.xml
